html {
  height: 100%;
  overflow: hidden;
  position: relative;
}

body {
  height: 100%;
  margin: 0;
  font-size: 3rem;
  overflow: hidden;
  position: relative;
}

#wrap {
  height: 100%;
  overflow: auto;
  margin: 0 3rem 0 3rem;
  /* -webkit-overflow-scrolling: touch; */
  /* IOS滚动条 */
}

#wrap::-webkit-scrollbar {
  display: none
  /* 去除移动端浏览器滚动条 */
}

header {
  position: absolute;
  width: 200%;
  height: 40px;
  background: red
}

.title {
  font-size: 15px;
}

.title>h4 {
  margin-bottom: 0.2rem;
  font-size: 3.4rem;
}

.time {
  width: 100%;
  font-size: 2.2rem;
  margin-bottom: 3.7rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: rgba(153, 153, 153, 1);
}

.content img {
  width: 100% !important;
}

.content {
  font-size: 3rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 4.8rem;
}

.sketch {
  height: 19.7rem;
  position: relative;
  background: rgba(245, 250, 255, 1);
  border: 0.3rem solid rgba(29, 129, 232, 1);
  margin-bottom: 3.4rem;
}

.bevel1 {
  position: absolute;
  width: 0;
  height: 0;
  top: -0.3rem;
  left: -0.3rem;
  border: 2rem solid black;
  border-color: transparent #1D81E8 #1D81E8 transparent;
  background-color: #fff;
  font-size: xx-small;
  text-align: left;
}

.sketchText {
  margin: 0 auto;
  overflow: hidden;
  font-size: 3rem;
  color: #333333;
  margin-top: 3.3rem;
  height: 12.6rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 4.8rem;
}

.bevel2 {
  position: absolute;
  width: 0;
  height: 0;
  bottom: -0.3rem;
  right: -0.3rem;
  border: 2rem solid black;
  border-color: #1D81E8 transparent transparent #1D81E8;
  background-color: #fff;
  font-size: xx-small;
  text-align: left;
}